/* make all font on website Cambria */
*{
  font-family: "Cambria";
}

/* navbar container */
.navbar .container-fluid{
  background-color: #38B6FF;
  height: 70px;
}

/* STEP logo on navbar */ 
#logo {
  font-size:40px; 
  line-height: 70px;  
  vertical-align: middle;
  padding: 0 20px;
  float:left;
  color: black;
  text-decoration: none;
}

/* STEP logo when hovered over by cursor */ 
#logo:hover {
  background-color: #ADE1FF;
  line-height: 70px;  
  vertical-align: middle;
  padding: 0 20px;
}

/* questions and build paper buttons on navbar */ 
.navbar-button {
  font-size: 25px;
  padding: 0 20px;
  float:left;
  line-height: 70px;  
  vertical-align: middle;
  color: black;
  text-decoration: none;
}

/* buttons on navbar when hovered over */ 
.navbar-button:hover {
  background-color: #ADE1FF;
  line-height: 70px;  
  vertical-align: middle;
  padding: 0 20px;
  color: black;
  text-decoration: none;
}

/* dropdown account menu */ 
.dropdown {
  float: right;
  position: relative;
}

/* the account button to open dropdown menu */
.dropbtn {
  cursor: pointer;
  font-size:25px;
  height: 70px;
  background-color: #38B6FF;
  border-style: none;
}

/* display menu when account is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown menu */
.dropdown-content {
  display: none;
  background-color: #ADE1FF;
  min-width: 160px;
  position: absolute;
  z-index: 1000;
  border-width: 2px;
  border-style: solid;
  border-color:#38B6FF;
}

/* links in dropdown menu */
.dropdown-content a {
  font-size:25px;
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px;
}

/* links in dropdown menu when hovered over */
.dropdown-content a:hover {
  background-color: #38B6FF;
  color: black;
  text-decoration: none;
  padding: 5px
}

/* sign in button */
#signin{
  float:right;
}

/* bottom bar */
.bottom-bar{
  padding:10px;
  background-color:#38B6FF;
  position: fixed;
  bottom: -10px;
  width: 100%;
}

/* 3 width bootstrap column */
.col-sm-3{
  background-color:#ADE1FF;
  margin-top: 30px;
}

/* headers in 3 width columns */
.col-sm-3 h3{
  margin-top: 5px;
}

/* 4 width boostrap column */
.col-sm-4{
  background-color: #ADE1FF;
  font-size:20px;   
  padding: 10px;
}

/* Page contents container on the sign in page */
#sign-in {
  display: flex;
  justify-content: center;  
  gap:20px;           
}

/* Radio buttons */
input[type=radio]{
  accent-color: #38B6FF;
}

/* Submit form buttons */
input[type=submit]{
  background-color: #38B6FF;
  border-style:none;
  height:35px;
}

/* Input text boxes */
input[type=text]{
  width:0;
  min-width: 100%;
}

/* Input password text boxes */
input[type=password]{
  width:0;
  min-width: 100%;
}

/* Error messages */
.error-message{
  color:red;
  font-size: 14px;
  margin-top:20px;
}

/* Leave school button */
#leave-school{
  background-color: #38B6FF;
  border-style:none;
  width:100%;
  font-size: 22px;
  color:red;
  margin-top: 30px;
}

/* Small grey text for instructions */
.grey-text{
  color:grey;
  font-size: 16px;
}

/* 8 width column */
.col-sm-8{
  background-color: #ADE1FF;
  font-size:20px; 
  padding:10px;  
}

/* Container in in-school page */
#in-school{
  gap:20px;
  display:flex;
}

/* Container in no-school page */
#no-school{
  justify-content: center;
  display: flex;
}

/* Horizontal line */
hr {
  border:none !important;
  height: 2px !important;
  background-color:grey !important;
}

/* Questions page container */
#questions-page{
  gap:20px;
  display: flex;
}

/* Questions list column */
#questions-list{
  background-color:white;
}

/* Question preview column */
#question-preview{
  background-color:white;
}

/* Search input text box */
#search{ 
  min-width: 245px !important;
}

/* Checkbox labels */
label{
  font-weight:normal !important;
}

/* List of pure topics */
#pure-topics{
  margin-left:20px;
  font-size:14px;
}

/* List of mechanics topics */
#mech-topics{
  margin-left:20px;
  font-size:14px;
}

/* List of probability topics */
#stats-topics{
  margin-left:20px;
  font-size:14px;
}

/* Button by each area to display topics */
.collapse-button {
  background: none;
  border-style: none;
  float:right;
}

/* Label for area checkbox including a button*/
.area-button{
  width:100%;
}

/* Number input text boxes */
input[type=number]{
  max-width:75px;
}

/* Container for question list button */
.question-form{
  width:100%;
  margin-bottom: 10px;
}

/* Question list button*/
.question-button{
  width:100%;
  border-radius:0px;
  border-width:1px;
  border-color:gray;
  background-color:white;
  text-align:left;
}

/* Question button when hovered over */
.question-button:hover{
  background-color: #ADE1FF;
}

/* Button to clear filters */
#clear-filters{
  color:red;
  float:right;
}

/* Row including sort and clear filters button */
#sort-clear{
  text-align: center;
  display:flex;
  gap:10px;
}

/* Preview of contents of question selected */
.latex-question{
  padding:10px;
  border-style:solid;
  border-width: 1px;
  border-color: grey;
  font-size: 16px;
}

/* Ordered list */
ol{
  list-style-type: lower-roman;
}

/* Diagram images*/
img{
  width: 60%;
  display: block;
  margin: 0 auto;
}

/* Text area to add notes about question*/
textarea{
  min-width:100%;
}

.paper-row{
  border-style: solid;
  border-color: grey;
  border-width:1px;
  padding:10px ;
}

.row{
  font-size:18px;
}

#papers-list{
  padding-left: 100px;
  padding-right:100px;
  padding-top:30px;
}

#delete-paper{
  color:red;
}