/* make all font on website Cambria */
*{
  font-family: "Cambria";
}

/* navbar container */
.navbar .container-fluid{
  background-color: #38B6FF;
  height: 70px;
}

/* STEP logo on navbar */ 
#logo {
  font-size:40px; 
  padding: 0 25px;
  color: black;
  text-decoration: none;
}

/* STEP logo when hovered over by cursor */ 
#logo:hover {
  background-color: #ADE1FF;
  padding: 25px;
}

/* questions and build paper buttons on navbar */ 
.navbar-button {
  font-size: 25px;
  padding: 0 22px;
  color: black;
  text-decoration: none;
}

/* buttons on navbar when hovered over */ 
.navbar-button:hover {
  background-color: #ADE1FF;
  padding: 22px;
  color: black;
  text-decoration: none;
}

/* dropdown account menu */ 
.dropdown {
  float: right;
  position: relative;
}

/* the account button to open dropdown menu */
.dropbtn {
  cursor: pointer;
  font-size:25px;
  height: 70px;
  background-color: #38B6FF;
  border-style: none;
}

/* display menu when account is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown menu */
.dropdown-content {
  display: none;
  background-color: #ADE1FF;
  min-width: 160px;
  position: absolute;
}

/* links in dropdown menu */
.dropdown-content a {
  font-size:25px;
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px;
}

/* links in dropdown menu when hovered over */
.dropdown-content a:hover {
  background-color: #38B6FF;
  color: black;
  text-decoration: none;
  padding: 5px
}